// Color Scheme
$font-main: #031f2d;
$background: #f9f4d7;
$accent-light: #ee8f1e;
$accent-dark: #60160d;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Cherry+Swash&display=swap");

$title-font: "Cherry Swash", cursive;
$body-font: "Bitter", serif;
